[Desktop Entry]
Encoding=UTF-8
Name=Gem Core
Comment=Gem P2P Cryptocurrency
Comment[de]=Verbinde mit dem Gem peer-to-peer Netzwerk
Comment[fr]=Gem, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Gem, eşten eşe kriptografik sanal para birimi
Exec=gem-qt %u
Terminal=false
Type=Application
Icon=gem128
MimeType=x-scheme-handler/gem;
Categories=Office;Finance;
